<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>844575851549-ntkukts6l6ja2dvld4103dmtdgjl0quk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzVUrLzQ74AoA9xRib_uKkbDoQ4EUetSs</string>
	<key>GCM_SENDER_ID</key>
	<string>844575851549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.grupogeld.sippe</string>
	<key>PROJECT_ID</key>
	<string>api-sippe</string>
	<key>STORAGE_BUCKET</key>
	<string>api-sippe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844575851549:ios:e28a3b00ec78d07edef2f4</string>
</dict>
</plist>